
/*
 * Defines the styles used on pages to register new users
 */
 
 /* Font styles for section headers ie "Account Details" */
.title_font {
display: inline;
color: black;
font-variant: small-caps;
font-weight: 700;
font-size: 1.375em;
}
/* styles for the title div of each section */
.title {
position: absolute;
margin: 10px;
padding: 2px;
top: 120px;
left: 65px;
height: 20px;
width: 700px;
border-bottom: medium solid #d44b0b;
}
/* styles for the div that holds the input elements for each section */
.form {
position: relative;
margin: 10px;
top: 162px;
font-weight: bold;
border: thin solid black
}

.sport_label {
position: relative;
left: 10px;
color: #001a63;
width: 800px;
}

/* styles for the table that holds the input elements for each section */
.sport_list table {
position: relative;
left: 30px;
color: #700c0c;
border-top: 2px solid #001a63;
font-weight: bold;
}

.sport_list table td {
margin: 0 5px 0 5px
}

input {
background-color: #ffe8c0
}

.checkbox {
background-color: transparent;
}

textarea {
border: thin solid #90c4ff;
background-color: #ffe8c0
}

.terms {
left: 5%;
text-align: center;
border: medium solid black
}
/* form submit botton */
.submit {
background-color: white;
}

.error_text {
color: red;
font-weight: bold;
}

