/*
 This sytle sheet defines the styles used to render
  -login/index.html.erb
  -login/logout.html.erb
*/

body {
height: 100%;
width: 100%;
font-size: 100%;
padding: 0;
margin: 0
}

/* uncomment this when using a background image
.background {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%
}
*/

.content {
position: relative;
width: 900px;
z-index: 1
}

/* Banner */
.sportbookpage {
position: relative;
display: block;
width: 100%;
top: 40px;
margin: auto;
color: #FFCC00;
text-align: center;
font-style: italic;
font-variant: small-caps;
font-weight: 700;
font-size: 4.5em;
}

/* Catch phrase - slogan - quote */
.quote {
font-style: italic;
font-weight: 600;
font-size: .4em;
}

.box_frame {
position: relative;
display: block;
margin: 0 auto;
width: 950px;
top: 50px;
height: 400px;
color: #cbb600;
border-top: 4px green solid;
}

.welcome_area {
position: relative;
display: inline;
float: left;
padding: 0px 10px 0px 10px;
margin: 20px;
text-align: justify;
height: 350px;
width: 400px;
font-size: 15px;
font-weight: bold;
border: 5px solid #7B0606;    
}


.login_area {
position: relative;
display: inline;
float: left;
padding: 0px 10px 0px 10px;
margin: 20px;
height: 350px;
width: 400px;
font-size: 15px;
font-weight: bold;
border: 5px solid #7B0606;
}

.emphasize {
font-variant: small-caps;
font-size: 1.2em;
color: yellow;
}

.label {
position: absolute;
top: -16px;
height: 20px;
left: 5px;
width: 62px;
padding: 4px 0px 0px 4px;
background: black;
color: red;
z-index: 10
}

/* Error message if failed to login */
.login_failed {
position: absolute;
top: 180px;
left:15px;
height: 15px;
width: 260px;
padding: 5px 2px 5px 2px;
color: red;
text-align: left;
font-size: .75em;
font-weight: bold
}


.username_label {
position: absolute;
top: 7%;
left: 4%;
width: 22%;
text-align: right
}

.username_box {
position: absolute;
top: 5%;
left: 35%
}

.username_forgot {
position: absolute;
top: 20%;
left: 35%;
font-size: 75%;
}

.password_label {
position: absolute;
top: 32%;
left: 4%;
width: 22%;
text-align: right
}

.password_box {
position: absolute;
top: 30%;
left: 35%
}

.password_forgot {
position: absolute;
top: 45%;
left: 35%;
font-size: 75%;
}

.submit {
position: absolute;
border: medium solid black;
right: 10%;
top: 63%
}



