
<!--  <li class='half_space_holder'></li> -->

  <li class='drop_item' id='scoreboard'>
      Scoreboard
  </li>

  <li class='drop_item' id='schedule'>
      Schedule
  </li>
  
  <li class='drop_item' id='lines'>
      Vegas lines
  </li>
  
  <li class='drop_item' id='standings'>
      Standings
  </li>
 
<!--  <li class='half_space_holder'></li> -->
 
  <li class='drop_item' id='headlines'>
      Headlines
  </li>

  <li class="space_holder"></li>

  <li class='drop_item' id='leaders'>
    Leaders
  </li>

  <!--<li class='drop_item' id='challenges'>
      Challenges
  </li>

  <li class='drop_item' id='friends'>
      Fan Club
  </li>-->
  
  <li class='drop_item' id='profile'>
      Profile
  </li>
 
  <li class="drop_item" id="playoffs">
    Playoffs
  </li>

  <li class='space_holder'></li>
