

<%= @user.first_name + " " + @user.last_name %> has invited you to join SportbookPage.com! SportbookPage.com is <span style="font-variant: small-caps; font-size: 1.2em">revolutionizing the way you see sports.</span> It's the only place on the net where you can fully customize your sports experience.<p>You <span style="font-variant: small-caps; font-size: 1.2em;">tag the sport and teams you care about</span> and you get scores, schedules, headlines and more for just those teams. It's that simple.</p><p>Don't waste anymore time following links and digging for the information you want. Get it all with one drag of the mouse. Register in less than <span style="font-variant: small-caps; font-size: 1.2em;">2 minutes with 3 easy steps</span> and you're on your way to customizing your sports.</p>
<p style="margin: auto; width: 5.5em; text-align: center; font-size: 1.5em;"><a href="www.sportbookpage.com/login">Sign Up!</a></p>

<% if !@message.blank? %>
  <%= @user.first_name %> says:
  <p><%= @message %></p>
<% end %>
