

<p>Dear <%= @user.first_name %>,</p>
<p>Your account password for SportbookPage.com has been reset. Your new password is:</p><br/>
<span style="font-weight: bold"><%= @password %></span>
<p>To access your account, please go the <a href="www.test.sportbookpage.com/login">Login Page</a> and login using your e-mail address and new password. Once you have logged in, be sure to change your password on the 'Edit Account' page which can be accessed from the Account Settings menu.</p>
<br/>
<p>If you feel that you have received this e-mail in error, please contact out support desk at <a href="mailto:support@sportbookpage.com">support@sportbookpage.com</a></p>
