
<div class="close" onclick="Effect.toggle('pop-up', 'appear', {duration: .5})"></div>
<span>            
  <p>
    An invitation to join SportbookPage.com was sent to the following e-mail addresses:<br/>
    <% @emails.each do |email| %>
      <br/>&nbsp;&nbsp;&nbsp;<%= email %>
    <% end %>
    <br/><br/>
    <a href = "javascript:void(0)" onclick = "Effect.toggle('pop-up', 'appear', {duration: .5})">Close</a>
  </p>
</span>
