/*
 *Style to format the top menu
 */

.top_menu {
position: relative;
top: 0px;
width: 1000px;
height: 25px;
background-color: #C10707;
font-weight: bold;
}

.top_menu_item {	
margin: 0;
padding: 0;
font-weight: bold;
}

.float_left {
margin: 0;
padding: 0;
list-style: none;
float: left;
height: 25px;
width: 80px;
border-right: 1px solid black;
}

.float_right {
margin: 0;
padding: 0;
list-style: none;
float: right;
height: 25px;
min-width: 90px;
border-left: 1px solid black;
}

.tm_a {
position: relative;
display: block;
margin: 0 0 0 0;
padding: 5px 0px;
/*min-width: 60px;*/
height: 15px;
background: #C10707;
color: #FFF;
text-align: center;
text-decoration: none
}

.tm_a:hover {	
background: #49A3FF
}


/****************************************
*****************************************/


.parent_div {
position: relative;
display: block;
margin: 0;
padding: 0;
width: 100%;
overflow: visible;
font-size: .9em;
z-index: 15
}

.college_parent_div {
position: relative;
display: block;
margin: 0;
padding: 0;
width: 140px;
overflow: visible;
font-size: .9em;
z-index: 15
}

.menu_row {
position: relative;
display: block;
height: 27px;
width: 100%;
overflow: visible
}


.menu_row_a {
position: relative;
display: block;
margin: 0 0 0 0;
padding: 5px 0px;
min-width: 100%;
width: auto;
height: 15px;
background: #7B0606; /*#C10707;*/
color: #FFF;
text-align: center;
text-decoration: none;
border: 1px solid #5970B2;
}

.menu_row_a:hover {	
background: #49A3FF
}

.nested_div {
position: relative;
display: inline;
left: 100%;
top: -27px;
}

.nested_div_a {
position: relative;
display: block;
margin: 0 0 0 0;
padding: 5px 10px;
height: 15px;
background: #570606; /*#7B0606; */
width: 100px;
color: #FFF;
text-align: center;
text-decoration: none;
vertical-align: text-top;
}

.nested_div_a:hover {	
background: #49A3FF
}

.college_nested_div_a {
position: relative;
display: block;
margin: 0 0 0 0;
padding: 5px 10px;
height: 15px;
background: #570606; /*#7B0606; */
width: 235px;
color: #FFF;
text-align: center;
text-decoration: none;
vertical-align: text-top;
}

.college_nested_div_a:hover {	
background: #49A3FF
}

.college_teams {
position: relative;
display: block;
height: 0px;
width: 100%;
z-index: 16;
}

.college_team {
position: relative;
display: block;
height: 20px;
width: 255px;
color: #570606;
background: white;
text-align: center;
text-decoration: none;
vertical-align: text-top;
z-index: 16;
}

.college_team:hover {
background: #49A3FF
}


/*
 * Styles to format the left menu
 */	

.left_menu {
position: relative;
display: block;
top: 0px;
left: 1px;
width: 146px;
border-top: 3px solid #315ad0
}

#left_menu_item {
margin: 0;
padding: 0
}

#left_menu_item li {
margin: 0;
padding: 0;
list-style: none;
float: left
}


.my_sports {
position: relative;
display: block;
padding: 2px 2px 0 0;
width: 144px;
color: white;
text-align: center;
text-decoration: none;
font-weight: bold;
font-variant: small-caps;
font-size: 1em;
background-color: #053616;
border: 1px solid #5970B2;
}

.my_sports:hover {
text-decoration: underline;
}

.college_sports {
position: relative;
display: block;
padding: 2px 2px 0 0;
width: 144px;
color: white;
text-align: center;
text-decoration: none;
font-weight: bold;
font-variant: small-caps;
font-size: .95em;
background: #4d0707;
border: 1px solid #5970B2;
}

#left_menu_item li a {
display: block;
position: relative;
margin: 0 1px 0 0;
padding: 2px 2px;
width: 140px;
background: #C10707;
color: white;
text-align: center;
text-decoration: none;
font-weight: bold;
font-size: 12px;
border: 1px solid #5970B2
}

#left_menu_item li a:hover {	
background: #49A3FF;
font-weight: bolder
}

#left_menu_item div {
position: relative;
margin: 0;
padding: 0;
}

#left_menu_item div a {
position: relative;
display: block;
margin: 0;
padding: 5px 10px;
width: 124px;
white-space: nowrap;
text-align: center;
text-decoration: none;
background: #7B0606;
color: #dec4c4;
font-weight: bold;
font-size: .9em;
}

#left_menu_item div a:hover {	
background: #326FAD;
font-weight: bolder
}
