

<div class="reset_frame" id="reset_frame">
  
  <div class="reset_frame_element">E-mail: <input type="text" name="email" value="" id="email" size="30" /></div>
  <div class="reset_frame_element" style="display:none;" id="question"></div>
  <div class="reset_frame_element" style="display: none" id="answer_prompt">Answer: <input type="text" name="answer" value="" id="answer" size="30" /></div>
  <div class="reset_frame_element" id="submit_email">
    <%= link_to_remote "OK", {:url => {:controller => "user_preferences", :action => "get_security_question"}, :with => "'email=' + encodeURIComponent($('email').value)" } %>
  </div>
  <div class="reset_frame_element" style="display:none;" id="answer_verified"></div>
  <div class="reset_frame_element" id="submit_answer" style="display: none">
    <%= link_to_remote "OK", {:url => {:controller => "user_preferences", :action => "verify_security_answer"}, :with => "'email=' + encodeURIComponent($('email').value) + '&amp;answer=' + encodeURIComponent($('answer').value)" } %>
  </div>
</div>

<%= javascript_tag "createGradient(document.body);" %>
