/*
 * Universal styles
 */
 
body {
width: 100%;
height: 100%;
padding: 0;
margin: 0;
font-size: .75em;
overflow: auto;
}

a {
color: #131bb8;
}

.background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%
}

.fade {
position: absolute;
height: 100%;
width: 100%;
background-color: white;
z-index: -1
}

.content {
position: relative;
margin-left: auto;
margin-right: auto;
text-align: left;
border: 2px solid white;
top: 5px;
width: 1000px;
min-height: 2000px;
color: #05086d;
z-index: 5
}
 
.banner {
position: relative;
top: 0px;
width: 1000px;
height: 110px;
color: white;
/*background-image: url('/images/red_to_green.png');
background-repeat: repeat-x;*/
/*background: black;*/
font-style: italic;
font-variant: small-caps;
font-weight: 700;
font-size: 5em;
text-align: center;
/*border-bottom: black;
border-bottom-width: thick*/
}

.logout {
position: absolute;
right: 15px;
top: 5px;
font-size: .2em;
color: #fff82e;
}

/* banner showing the user location within the site */
.user_path {
position: relative;
top: 0px;
width: 1000px;
height: 20px;
padding: 2px 2px 2px 5px;
color: blue;
font-weight: 900;
font-size: 1.25em;
}

.user_path a {
text-decoration: none
}

.user_path a:hover {
text-decoration: underline
}

.user_path a:visited {
color: #131bb8;
}

.message_banner {
position: absolute;
width: 995px;
height: 20px;
background: #49A3FF;
color: red;
padding: 2px 2px 2px 5px;
font-weight: 900;
text-align: center;
z-index: 10;
}

.save_draggables {
position: absolute;
width: 150px;
height: 20px;
padding: 2px 2px 2px 5px;
text-align: right;
font-size: .8em;
right: 0;
z-index: 10;
}

.advertisement_1 {
position: absolute;
top: 180px;
left: 808px;
width: 185px;
height: 200px;
border: 3px solid black
}

.advertisement_2 {
display: block;
width: 138px;
height: 300px;
padding: 2px 2px 0px 0px;
margin: 10px 0px 0px 0px;
border: 3px solid black
}

/*
 * Styles to define popup help messages
 * */
.popup_help {
position: absolute;
display: block;
min-width: 10px;
max-width: 300px;
min-height: 10px;
padding: 2px;
background: #fffbb6;
z-index: 100;
}


/*
 * Styles to define the lightbox
 */

.lightbox_fade {
position: absolute;
top: 0%;
left: 0%;
width: 100%;
height: 1350px;
background-color: black;
-moz-opacity: 0.8;
opacity: .80;
filter: alpha(opacity=80);
z-index:100;
}

.light {
position: absolute;
top: 25%;
left: 25%;
width: 550px;
height: 300px;
padding: 16px;
border: 16px solid orange;
background-color: white;
z-index: 102;
}

.close_lightbox {
position: absolute;
right: -10px;
top: -16px;
}
