@charset "UTF-8";
/* CSS Document */
/* © SportBookPage.com */
/* Authored by Brett Whitham, www.brettastico.com*/



/* globals */

* {
margin:0;
padding:0;
outline:none;
}

body {
font-family:Geneva, Arial, Helvetica, sans-serif;
background:#000000 url(/images/css/background-grass.jpg) no-repeat top center;
padding:0 0 20px 0;
}

a {
text-decoration:none;
outline:none;
}

a:visited {
text-decoration:none;
outline:none;
}

img {
border:none;
}

ul {
list-style:none;
}

#content {
width:980px;
height:auto;
margin:0 auto 0 auto;
background:#FFFFFF;
padding:0 7px 5px 5px;
}


.clear {
clear:both;
}

.floatleft {
float:left;
display:inline;
}

.floatright {
float:right;

display:inline;
}

.noborder {
border:none;
}

.hidden {
visibility:hidden;
display:none;
}

.show {
visibility:visible;
display:normal;
}

/* body backgrounds

body .grass {
z-index:1;
}

body .dirt {
background:* no-repeat top center;;
}

body .ice {
background:* no-repeat top center;;
}

body .mat {
background:* no-repeat top center;;
}

body .asphalt {
background:* no-repeat top center;;
}

*/

/* header */

#header {
width:980px;
height:auto;

}


/* ticker elements */

#ticker {
height:30px;
border-bottom:#CCCCCC thin solid;
border-left:#CCCCCC thin solid;
border-right:#CCCCCC thin solid;
background:url(/images/css/ticker-bg.jpg) no-repeat top center;
font-size:.7em;
}

/*
#ticker .item {
padding:0 3px 0 3px;
color:#000000;
border-right:#FFFFFF thin solid;
display:inline;
}

#ticker .sport {
color:#4696bb;
border:none;
font-weight:bold;
}

#ticker ul {
width:auto;
height:15px;
padding:5px 0 3px 0;
position:relative;
overflow:hidden;
white-space:nowrap;
}
*/



/* logo area */

#hero {
width:232px;
height:110px;
border-right:#CCCCCC thin solid;
float:left;
display:inline;
_height:auto;
}

#logo {
width:232px;
height:85px;
border-bottom:#CCCCCC thin solid;
background:url(/images/css/logo_beta.jpg) no-repeat top center;
}

#hero ul {
width:232px;
height:25px;
background:url(/images/css/background-switcher-bg.jpg) no-repeat top center;
_height:21px;
}

#hero li {
width:25px;
height:25px;
float:left;
border-right:#CCCCCC thin solid;
display:inline;
_height:21px;
_margin:-4px 0 0 0;
}


/* leaderboard */

#ad-leaderboard {
width:745px;
height:110px;
float:left;
background:url(/images/css/leaderboard-bg.jpg) no-repeat top center;
display:inline;
_margin:0 0 0 -3px;
}

#ad-leaderboard .center{
width:728px;
height:90px;
margin:10px 20px 10px 10px;
}


/* home page */

#home {
width:auto;
background:url(/images/css/home-bg.jpg) repeat-y;
border-bottom:#CCCCCC thin solid;
border-top:#CCCCCC thin solid;
}

#home .warning {
color:#FF0000;
font-style:italic;
}

#home #column-left {
width:480px;
float:left;
display:inline;
padding:15px 8px 5px 8px;
}

#home #column-left h1 {
font-size:1.2em;
color:#4696bb;
}

#home #column-left p {
font-size:.9em;
color:#000000;
margin:8px 0 0 0;
line-height:1.8em;
}

#home #column-left p a {
color:#4696bb;
font-weight:bold;
}

/* home right column */

#home #column-right {
width:470px;
float:right;
display:inline;
}

#home #column-right h1 {
font-size:1em;
color:#333333;
font-weight:bold;
padding:5px 0 5px 8px;
}

/* login box */

#home #column-right #login {
width:470px;
background:url(/images/css/home-login.jpg) no-repeat top right;
border-bottom:#CCCCCC thin solid;
}

#home #column-right #login h1 {
font-size:1em;
color:#ffffff;
font-weight:bold;
padding:5px 0 5px 8px;
}

#home #column-right #login h1 i a {
font-size:.8em;
color:#FFFFFF;
font-weight:normal;
margin:0 0 0 8px;
}

#home #column-right #login h1 i a:hover {
color:#4696bb;
}

#home #column-right #login .signin {
width:auto;
float:left;
display:inline;
padding:0 0 0 8px;
}

#home #column-right #login p {
font-size:.8em;
color:#FFFFFF;
float:left;
display:inline;
}

#home #column-right #login input {
width:215px;
height:20px;
background:#FFFFFF;
border:#CCCCCC thin solid;
float:left;
display:inline;
clear:both;
}



#home #column-right #login input.submit {
width:81px;
height:30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:right;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
display:inline;
border:none;
margin:0 19px 10px 0;
}

#home #column-right #login input.submit:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}


/* home right col forms */

#home #column-right ul {
width:auto;
padding:0 12px 5px 12px;
margin:0 0 10px 0;
}

#home #column-right li {
font-size:.8em;
color:#333333;
margin:8px 0 0 0;
clear:both;
}

#home #column-right li label {
float:left;
display:inline;
padding:3px 0 0 0;
cursor:text;
}

#home #column-right li input {
width:290px;
height:20px;
background:#FFFFFF;
border:#CCCCCC thin solid;
float:right;
display:inline;
}

#home #column-right li input.radio {
float: right;
width: 15px;
}

#home #column-right li select {
background:#FFFFFF;
border:#CCCCCC thin solid;
float:right;
display:inline;
margin: 0 0 0 5px;
}

#home #column-right li input.date {
width:40px;
margin:0 5px 0 0;
}

#home #column-right li input.year {
width:60px;
}

#home #column-right li p {
float:right;
color:#99FF00;
display:inline;
}

#home #column-right li .select {
float:right;
height:20px;
display:inline;
margin:3px 0 0 8px;
}

#home #column-right input.submit {
width:81px;
height:30px;
font-size:1em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:right;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
display:inline;
border:none;
}

#home #column-right input.submit:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}



/* single column */

#column-single {
width:980px;
height:auto;
background:url(/images/css/single-column-bg.jpg) repeat-y top center;
border-bottom:#CCCCCC thin solid;
border-top:#CCCCCC thin solid;
}

#column-single img.headshot {
margin:10px 5px 0 10px;
float:left;
border:none;
display:inline;
}

/*#column-single img.headshot:hover {
border:#4696bb thin solid;
}*/

#column-single h1 {
padding:10px;
font-size:1em;
color:#4696bb;
font-weight:bold;
}

#column-single h2 {
padding:0 10px 0 10px;
font-size:1em;
color:#000000;
font-weight:bold;
}

#column-single h3 {
width:90%;
padding:0 10px 0 10px;
font-size:.9em;
color:#666666;
font-weight:normal;
font-style:italic;
margin:0 0 4px 0;
border-bottom:#999999 thin solid;
}

#column-single h3 input {
display:inline;
margin:-3px 4px 0 0;
}

#column-single span {
width:235px;
margin:0 5px 0 0;
float:left;
display:inline;
}

#column-single label {
font-size:.9em;
margin:0 0 2px 3px;
}

#column-single h1 i a {
font-size:.8em;
color:#4696bb;
font-weight:normal;
}

#column-single p {
font-size:.9em;
color:#000000;
padding:10px;
line-height:1.8em;
}

#column-single a {
color:#4696bb;
}

#column-single ul {
font-size:.9em;
color:#000000;
padding:0 10px 0 10px;
margin:0 0 5px 0;
}

#column-single li {
width:auto;
padding:0 15px 0 0;
cursor:text;
}

#column-single li input {
margin:0 3px 0 0;
}

#column-single hr {
width:100%;
margin:10px 0 10px 0;
clear:both;
}

#column-single .conference {
width:100%;
padding:10px 10px 0 10px;
}

#column-single input.submit {
width:81px;
height:30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:left;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
display:inline;
border:none;
margin: 10px 0 10px 0;
cursor:pointer;
}

#column-single input.submit:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}


/* three columns */

#columns {
width:980px;
height:auto;
background:url(/images/css/column-bg.jpg) repeat-y;
border-bottom:#CCCCCC thin solid;
border-top:#CCCCCC thin solid;
margin:0 0 0 0;
}

/* left column */

#column-left {
width:160px;
height:100%;
}


/* left column system message */

#system-message {
width:160px;
height:150px;
border-top:#CCCCCC thin solid;
border-bottom:#CCCCCC thin solid;
margin:10px 0 10px 0;
}

/*Left column user info*/
#column-left #profile {
width:160px;
height:auto;
margin:5px 0 5px 0;
}

#column-left #profile img.headshot {
width:auto;
height:auto;
margin:0 4px 4px 4px;
float:left;
display:inline;
}

/*#column-left #profile img.headshot:hover {
border:#4696bb thin solid;
}*/

#column-left #profile h1 {
font-size:.7em;
font-weight:normal;
color:#4696bb;
margin:0 0 0 0;
padding:0 4px 4px 4px;

}

#column-left #profile h1 a {
color:#4696bb;
}

#column-left #profile i a {
color:#4696bb;
font-size:.9em;
}

#column-left #profile h1 span {
font-size:inherit;
display:inline;
}

#column-left #profile span.win {
color:#009933;
font-weight:bold;
margin:0 0 0 3px;
}

#column-left #profile span.loss {
color:#FF0000;
margin:0 0 0 0;
}

#column-left #profile span.normal {
margin:0 0 0 2px;
}

/* left colum login */

#column-left #left-login {
width:160px;
height:auto;
margin:5px 0 5px 0;
}

#column-left #left-login input {
width: 150px;
margin:0 5px 5px 0;
display: inline;
font-size:.7em;
}

#column-left #left-login h1 {
font-size:.7em;
font-weight:normal;
color:#4696bb;
margin:0 0 0 0;
padding:0 4px 4px 4px;
display: inline;
}

#column-left #left-login h1 a {
color:#4696bb;
}

#column-left #left-login span {
width: 100%;
float: left;
display: inline;
}

#column-left #left-login span h1 {
position: relative;
font-size:.7em;
width: 100%;
text-align: center;
margin-top: 5px;
}

#column-left #left-login span a {
font-size: 1.8em;
width: 100%;
text-align: center;
color:#4696bb;
display: block;
text-decoration: underline;
}

#column-left #left-login input.submit {
width:81px;
height:30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:right;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
border:none;
display: inline;
}

#column-left #left-login input.submit:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}

/* left column my tagged teams header */

#column-left #header {
width:159px;
height:30px;
background:url(/images/css/column-left-header-bg.jpg) no-repeat top left;
border-top:#CCCCCC thin solid;
border-bottom:#CCCCCC thin solid;
color:#FFFFFF;
}

#column-left #header h1 {
float:left;
font-weight:normal;
text-shadow:#000000 0px -1px 0px;
font-size:.78em;
padding:6px 0 3px 4px;
letter-spacing:.07em;

display:inline;
}

#column-left #header h2 {
float:right;
font-weight:normal;
font-size:.6em;
padding:9px 6px 3px 0;

display:inline;
}

#column-left #header h2 a {
color:#CCCCCC;
}

#column-left #header h2 a:hover {
color:#4696bb;
}


/* left column sport headings */

#column-left ul {
width:158px;
}

#column-left ul span {
*margin:-10px 0 0 0;
_margin:-10px 0 0 0;

}

#column-left ul #header {
width:158px;
height:30px;
background:url(/images/css/column-left-sports-bg.jpg) no-repeat top left;
border-bottom:#CCCCCC thin solid;
}

#column-left ul #header a.expanded {
width:30px;
height:30px;
background:url(/images/css/expand-out.jpg) no-repeat top left;
float:left;

display:inline;
}

#column-left ul #header a.expanded:hover {
background:url(/images/css/expand-ovr.jpg) no-repeat top left;
float:left;

display:inline;
}

#column-left ul #header a.collapsed {
width:30px;
height:30px;
background:url(/images/css/collapse-out.jpg) no-repeat top left;
float:left;

display:inline;
}

#column-left ul #header a.collapsed:hover {
background:url(/images/css/collapse-ovr.jpg) no-repeat top left;
float:left;

display:inline;
}

#column-left ul #header h1 {
float:left;
font-weight:bold;
font-size:.8em;
padding:6px 0 3px 5px;
letter-spacing:.07em;
color:#4696bb;
text-shadow:none;

display:inline;
}

/* left column team names */

#column-left li {
color:#ffffff;
font-size:.75em;
}

#column-left li a {
display:block;
color:#FFFFFF;
width:100%;
height:100%;
padding:5px;
}

#column-left li a:hover {
color:#4696bb;
padding:5px;
}

#column-left li.odd {
background:url(/images/css/column-left-odd-row-bg.jpg) repeat-y top left;
}

#column-left li.odd:hover {
border-bottom:#333333 thin solid;
cursor:pointer;
color:#4696bb;
}

#column-left li.even {
background:url(/images/css/column-left-even-row-bg.jpg) repeat-y top left;
}

#column-left li.even:hover {
border-bottom:#333333 thin solid;
cursor:pointer;
color:#4696bb;
}

#column-left li.selected {
background:url(/images/css/column-left-select-row-bg.jpg) repeat-y top right;
color:#FFFFFF;
padding:5px;
}

#column-left li.selected:hover {
border-bottom:#333333 thin solid;
cursor:pointer;
}

/* left column ad */

#ad-left-column {
width:160px;
height:600px;
margin:10px 0 0 0;
}

#ad-left-column span {
position: relative;
right: 0px;
float: right;
}

#ad-left-column span.center {
text-align: center;
margin: auto;
padding-left: 20px;
float: none;
}

/* center column */

#column-center {
width:620px;
height:inherit;
margin:0 10px 0 10px;
float:left;

display:inline;
_margin:0 0 0 2px;
}

/* top navigation */

#column-center #top-nav {
height:30px;
border-bottom:#CCCCCC thin solid;

_margin:0 0 -6px 0;
}

#column-center #top-nav ul {
color:#CCCCCC;
font-size:.8em;
font-weight:normal;
letter-spacing:.05em;
text-align:center;
margin:0;
padding:0;
}

#column-center #top-nav li {
height:30px;
float:left;
padding:0;
margin:0;
display:inline;
}

#column-center #top-nav li a {
width:100%;
display:block;
height:100%;
color:#CCCCCC;
padding:5px 0 0 0;
}

#column-center #top-nav li a:hover {
width:100%;
display:block;
height:100%;
color:#FFFFFF;
padding:5px 0 0 0;
}

#column-center #top-nav li.home {
width:35px;
background:url(/images/css/head-nav-button-home.jpg) no-repeat top left;
}

#column-center #top-nav li.home:hover {
background:url(/images/css/head-nav-button-home-ovr.jpg) no-repeat top left;
text-shadow:#000000 0 1px 0;
}

#column-center #top-nav li.help {
width:35px;
background:url(/images/css/head-nav-button-help.jpg) no-repeat top left;

*margin:0 0 0 -5px;
_margin:0 0 0 -2px;
}

#column-center #top-nav li.help:hover {
background:url(/images/css/head-nav-button-help-ovr.jpg) no-repeat top left;
text-shadow:#000000 0 1px 0;
}

#column-center #top-nav li.main {
width:110px;
background:url(/images/css/head-nav-button-lrg.jpg) no-repeat top left;
text-shadow:#000000 0 -1px 0;
}

#column-center #top-nav li.main:hover {
width:110px;
background:url(/images/css/head-nav-button-lrg-ovr.jpg) no-repeat top left;
text-shadow:#000000 0 1px 0;
color:#FFFFFF;
}



/* center column preferences page */

#column-center h1 {
padding:10px;
font-size:1em;
color:#4696bb;
font-weight:bold;
}

#column-center h1:hover {
cursor: pointer;
}

#column-center h1.selected {
padding:10px;
font-size:1em;
color:#FFFFFF;
font-weight:bold;
background:url(/images/css/column-left-select-row-bg.jpg) repeat-y top right;
}



#column-center h2 {
padding:0 10px 0 10px;
font-size:1em;
color:#000000;
font-weight:bold;
}

#column-center h2 a {
color:#000000;
cursor: default;
}

#column-center h2 a.check {
color:#4696bb;
font-size: .7em;
font-style: italic;
font-weight: normal;
cursor: default;
}

#column-center h3 {
width:90%;
padding:0 10px 0 10px;
font-size:.9em;
color:#666666;
font-weight:normal;
font-style:italic;
margin:0 0 4px 0;
border-bottom:#999999 thin solid;
}

#column-center h3 a {
color:#666666;
cursor: default;
}

#column-center h3 input {
display:inline;
margin:-3px 4px 0 0;
}

#column-center span {
width:295px;
margin:0 5px 0 0;
float:left;
display:inline;
}

#column-center label {
font-size:.9em;
margin:0 0 2px 3px;
}

#column-center h1 i a {
font-size:.8em;
color:#4696bb;
font-weight:normal;
display: inline;
}

#column-center p {
font-size:.9em;
color:#000000;
padding:10px;
line-height:1.8em;
}

#column-center a {
color:#4696bb;
}

#column-center ul {
font-size:.9em;
color:#000000;
padding:0 10px 0 10px;
margin:0 0 5px 0;
}

#column-center li {
width:auto;
padding:0 15px 0 0;
cursor:text;
}

#column-center li input {
margin:0 3px 0 0;
}

#column-center hr {
width:100%;
margin:10px 0 10px 0;
clear:both;
}

#column-center .conference {
width:600px;
padding:10px 10px 0 10px;
}

#column-center input.submit {
width:81px;
height:30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:left;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
display:inline;
border:none;
margin:10px;
cursor:pointer;
}

#column-center input.submit:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}

#column-center a.back {
width:81px;
height:30px;
line-height: 30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
float:left;
background:url(/images/css/form-submit.jpg) no-repeat bottom right;
display:inline;
border:none;
margin:10px;
cursor:pointer;
}

#column-center a.back:hover {
background:url(/images/css/form-submit-ovr.jpg) no-repeat;
}

#column-center img.headshot {
margin:10px 5px 0 10px;
float:left;
border:none;
display:inline;
}

/*#column-center img.headshot:hover {
border:#4696bb thin solid;
}*/

#column-center .following li {
width:30%;
float:left;
display:inline;
margin:0 0 4px 3px;
}

#column-center .hotstreak span.win {
color:#009933;
float:none;
margin:0 0 0 15px;
}

#column-center .hotstreak span.loss {
color:#FF0000;
float:none;
}

#column-center .hotstreak span.date {
float:none;
font-weight:normal;
font-size:.9em;
font-style:italic;
}

#column-center .hotstreak span.winpct {
float:none;
font-weight:normal;
}

#column-center .hotstreak ul {
list-style:none;
}

#column-center .hotstreak li {
width:100%;
margin:8px 0 0 10px;
list-style:none;
font-size:.8em;
}

#column-center .hotstreak span {
width:auto;
float:left;
display:inline;
}

#column-center .hotstreak span.versus {
margin:0 8px 0 8px;
}

#column-center .hotstreak span.select {
font-weight:normal;
}

#column-center .hotstreak span.selectWin {
color:#00FF00;
font-weight:normal;
}

#column-center .hotstreak span.selectLoss {
color:#FF0000;
font-weight:normal;
}



/* my draggables */

#draggables {
width:620px;
height:auto;
}


/* my draggables header */

#draggables #header {
width:auto;
height:30px;
background:url(/images/css/draggables-head.jpg) no-repeat top left;
color:#999999;
border-bottom:#CCCCCC thin solid;

_margin:0 0 -6px 0;
}

#draggables #header ul {
margin:0;
padding:0;
}

#draggables #header li {
display:block;
}

#draggables #header li.help a {
width:14px;
height:14px;
background:url(/images/css/draggables-help.gif) no-repeat top left;
float:left;
margin:8px 0 0 5px;

display:inline;
}

#draggables #header li.help a:hover {
background:url(/images/css/draggables-help-ovr.gif) no-repeat top left;
}

#draggables #header li.head {
width:auto;
height:auto;
font-size:.9em;
letter-spacing:.02em;
margin:5px 0 0 5px;
float:left;
color:#666666;
display:inline;
*margin:-12px 0 0 3px;
_margin:-12px 0 0 3px;
}

#draggables #header #site_path {
height: 1.2em;
overflow: hidden;
}

#draggables #header li.head em {
margin:0 0 0 15px;
font-variant: small-caps;
font-size: 1.05em;
font-weight:bold;
color:#d71fde;
}

#draggables #header li.save a {
font-size:.6em;
width:auto;
height:auto;
font-size:.7em;
margin:8px 0 0 0;
padding:0;
float:right;
color:#666666;

display:inline;
*margin:-9px 5px 0 0;
_margin:-9px 5px 0 0;
}

#draggables #header li.save a:hover {
color:#4696bb;
}


/* my draggables buttons */

#draggables #holder {
width:620px;
height:auto;
background:url(/images/css/draggables-holder-bg.jpg) no-repeat top left;
border-bottom:#CCCCCC thin solid;
}

#draggables #holder ul {
margin:0;
padding:0;
}

#draggables #holder li {
width:124px;
height:45px;
float:left;
text-align:center;
font-size:.8em;
letter-spacing:.02em;
background:url(/images/css/draggables-btn-bg.jpg) no-repeat top left;
margin:0;
padding:0;

_margin:0 0 0 -1px;
}

#draggables #holder li:hover {
background:url(/images/css/draggables-btn-bg-ovr.jpg);
cursor: move;
}

#draggables #holder li a {
font-size:1.1em;
display:block;
width:125px;
height:45px;
color:#FFFFFF;
line-height:3.2em;
text-shadow:#000000 0 -1px 0;
}

#draggables #holder li a:hover {
text-shadow:#000000 0 1px 0;
color:#FFFFFF;
}


/* my draggables targets*/

#draggables #target-holder {
width:620px;
height:auto;
margin:0;
}


/* collapsed target*/

#draggables #target-holder span.collapsed {
width:301px;
height:340px;
float:left;
border:#333333 thin solid;
background:url(/images/css/target-bg-even.jpg) no-repeat bottom right;
display:inline;
margin: 3px;
*width:299px;
_width:299px;
}

#draggables #target-holder span.hover {
-moz-opacity: 0.65;
opacity: .65;
filter: alpha(opacity=65);
}

#draggables #target-holder span.collapsed ul {
width:auto;
height:269px;
overflow:hidden;
position:relative;
display:block;
margin:0;
padding:0;
}

#draggables #target-holder div h2 {
margin: 10px 0 0 0;
}

#draggables #target-holder div div {
margin: 3px 0 2px 10px; 
font-size: .75em;
}

#draggables #target-holder div div a.win {
color:#009933;
font-weight:bold;
margin:0 0 0 3px;
}

#draggables #target-holder div div a.loss {
color:#FF0000;
margin:0 0 0 0;
}

/* expanded target */

#draggables #target-holder span.expanded {
width:615px;
height:550px;
float:left;
border:#333333 thin solid;
background:url(/images/css/target-bg-even.jpg) no-repeat bottom right;
display:inline;
*width:613px;
_width:613px;
}

#draggables #target-holder span.expanded ul {
width:auto;
height:480px;
overflow:hidden;
position:relative;
display:block;
margin:0;
padding:0;
}

/* column spans */

#draggables #target-holder li span {
height:auto;
float:left;
margin:0 5px 0 0;
display:inline;
overflow: hidden;
}

/* collapsed column spans */

#draggables #target-holder span.clps02col {
width:140px;
}

#draggables #target-holder span.clps03col {
width:90px;
}

#draggables #target-holder span.clps04col {
width:65px;
}

#draggables #target-holder span.clps05col {
width:52px;
}

#draggables #target-holder span.clps06col {
width:45px;
}

#draggables #target-holder span.clps07col {
width:39px;
}

#draggables #target-holder span.clps08col {
width:34px;
}

#draggables #target-holder span.clps09col {
width:31px;
}

#draggables #target-holder span.clps10col {
width:28px;
}

#draggables #target-holder span.clps11col {
width:25px;
}

#draggables #target-holder span.clps12col {
width:23px;
}

#draggables #target-holder span.clps13col {
width:21px;
}

#draggables #target-holder span.clps14col {
width:20px;
}

#draggables #target-holder span.clps15col {
width:18px;
}

#draggables #target-holder span.clps20col {
width:14px;
}

#draggables #target-holder span.clps25col {
width:11px;
}

#draggables #target-holder span.clps30col {
width:9px;
}

/* expanded column spans */

#draggables #target-holder span.expn02col {
width:294px;
}

#draggables #target-holder span.expn03col {
width:182px;
}

#draggables #target-holder span.expn04col {
width:140px;
}

#draggables #target-holder span.expn05col {
width:110px;
}

#draggables #target-holder span.expn06col {
width:96px;
}

#draggables #target-holder span.expn07col {
width:82px;
}

#draggables #target-holder span.expn08col {
width:72px;
}

#draggables #target-holder span.expn09col {
width:65px;
}

#draggables #target-holder span.expn10col {
width:58px;
}

#draggables #target-holder span.expn11col {
width:52px;
}

#draggables #target-holder span.expn12col {
width:48px;
}

#draggables #target-holder span.expn13col {
width:44px;
}

#draggables #target-holder span.expn14col {
width:41px;
}

#draggables #target-holder span.expn15col {
width:38px;
}

#draggables #target-holder span.expn20col {
width:29px;
}

#draggables #target-holder span.expn25col {
width:23px;
}

#draggables #target-holder span.expn30col {
width:19px;
}

/* target list items */

#draggables #target-holder li {
height:auto;
display:block;
background:none;
border-bottom:#CCCCCC thin solid;
padding:5px 4px 4px 4px;
font-size:.7em;
line-height:auto;
text-align: left;
}

#draggables #target-holder li h1 {
padding:0;
margin:0;
}

#draggables #target-holder li h1 a {
font-weight:normal;
font-size:1.4em;
padding:0;
margin:0;

*font-size:medium;
_font-size:medium;
}

#draggables #target-holder li a {
color:#4696bb;
}

#draggables #target-holder li p {
font-size:1.1em;
width:auto;
height:auto;
display:block;
margin:5px 0 0 0;
padding:0;
line-height: 1.2em;
}

#draggables #target-holder li em {
display:block;
margin:5px 0 0 0;
}

#draggables #target-holder li.subhead {
width:auto;
height:15px;
background:#999999;
color:#FFFFFF;
text-align:center;
font-size:.8em;
line-height:.7em;
}

#draggables #target-holder li.colHead {
width:auto;
height:10px;
background:#CCCCCC;
color:#000000;
font-size:.7em;
line-height:.7em;
text-align:center;
}


/* target main headline items*/

#draggables #target-holder .head {
width:100%;
height:20px;
text-align:center;
background:url(/images/css/target-head-bg.jpg) no-repeat top center;
border-bottom:#ffffff thin solid;
}

#draggables #target-holder .head h1 {
float:left;
margin:3px 0 0 5px;
padding:0;
text-shadow:#000000 0 -1px 0;
color:#FFFFFF;
font-size:.85em;
font-weight:normal;
display:inline;
cursor: default;
}

#draggables #target-holder .head h2 {
float:right;
font-size:.7em;
font-weight:normal;
color:#FFFFFF;
margin:6px 5px 0 0;
padding:0;
display:inline;
}

#draggables #target-holder .head h2 a {
color:#FFFFFF;
cursor: pointer;
}

#draggables #target-holder .head h2 a:hover {
color:#000000;
}

#draggables #target-holder div.anchors {
display: block;
width:100%;
height:15px;
border-bottom:#CCCCCC thin solid;
font-weight: bold;
text-align: center;
line-height: .6em;
background:url(/images/css/target-head-bg.jpg) no-repeat top center;
}

#draggables #target-holder div.anchors a {
top: 0;
color: #ffffff;
font-size: .6em; 
}

/* target scrolls */

#draggables #target-holder .scroll-up {
width:100%;
height:20px;
background:url(/images/css/target-scroll-bg.jpg) no-repeat top center;
z-index:1000;
}

#draggables #target-holder .scroll-up a {
width:100%;
height:100%;
display:block;
}

#draggables #target-holder .scroll-up a.up {
background:url(/images/css/target-scroll-arrow-up.gif) no-repeat center center;
}


#draggables #target-holder .scroll-dwn {
position: absolute;
bottom: 0px;
width:100%;
height:20px;
background:url(/images/css/target-scroll-bg.jpg) no-repeat top center;
z-index:1000;
}

#draggables #target-holder .scroll-dwn a {
width:100%;
height:100%;
float:left;
display:inline;
}

#draggables #target-holder .scroll-dwn a.dwn {
background:url(/images/css/target-scroll-arrow-dwn.gif) no-repeat center center;
}


/* right column */

#column-right {
width:180px;
height:auto;
float:left;
display:inline;
*margin:0 0 0 -1px;
_margin:0 0 0 10px;
}

/* right column ad */

#column-right #ad-right {
width:180px;
height:600px;
margin:10px 0 10px 0;
}

#column-right #ad-right span.center {
text-align: center;
margin: auto;
padding-left: 10px;
}

/* right column headings */

#column-right ul {
width:auto;
overflow: hidden;
height: auto;
max-height: 400px;
}

#column-right  #header {
width:178px;
height:30px;
background:url(/images/css/column-right-head-bg.jpg) no-repeat top left;
border-bottom:#CCCCCC thin solid;
float: left;
}

#column-right  #header a.expanded {
width:30px;
height:30px;
background:url(/images/css/expand-out.jpg) no-repeat top left;
float:right;

display:inline;
}

#column-right  #header a.expanded:hover {
background:url(/images/css/expand-ovr.jpg) no-repeat top left;
float:right;

display:inline;
}

#column-right  #header a.collapsed {
width:30px;
height:30px;
background:url(/images/css/collapse-out.jpg) no-repeat top left;
float:right;

display:inline;
}

#column-right  #header a.collapsed:hover {
background:url(/images/css/collapse-ovr.jpg) no-repeat top left;
float:right;

display:inline;
}

#column-right  #header h1 {
float:left;
font-weight:bold;
font-size:.8em;
padding:6px 0 3px 5px;
letter-spacing:.07em;
color:#4696bb;
text-shadow:none;

display:inline;
}

#column-right  #header h2 a {
float:right;
font-weight:normal;
font-size:.45em;
color:#4696bb;
margin:7px 4px 0 0;
display:inline;
}

#column-right  #add_comment h2 a {
float:right;
font-weight:normal;
font-size:.45em;
color:#4696bb;
margin:7px 4px 0 0;
display:inline;
}

#column-right  li.reply h2 {
float:left;
font-weight:normal;
font-size:1em;
color:#ffffff;
margin:7px 4px 0 0;
}

#column-right  li.reply h2 a {
float:right;
font-weight:normal;
font-size:1em;
color:#ffffff;
margin:2px 4px 2px 0;
}

#column-right  li.reply h2 a:hover {
color:#4696bb;
}

/* right column list items  */

#column-right li {
color:#ffffff;
font-size:.75em;
}

#column-right .search {
width:auto;
height:auto;
background:#333333;
padding:4px;
}

#column-right input.field {
background:#FFFFFF;
width:145px;
height:15px;
float:left;

display:inline;
}

#column-right input.submit {
background:url(/images/css/fanclub-search-submit.gif) #4696bb no-repeat;
width:15px;
height:15px;
float:left;
cursor:pointer;
font-size:.6em;

display:inline;
}

#column-right li img.headshot {
width:30px;
height:30px;
float:left;
margin:4px 0 4px 4px;
border:#CCCCCC thin solid;
display:inline;
}

#column-right li p {
padding:3px;
width:125px;
float:right;
display:inline;
}

#column-right em {
width:125px;
float:right;
display:inline;
font-style:italic;
font-size:.75em;
padding:4px 4px 4px 0;
clear:both;
}

#column-right .fanclub a {
display:block;
color:#FFFFFF;
width:100%;
height:100%;
}

#column-right .fanclub li a.close {
width:15px;
height:15px;
top: 0;
background:url(/images/css/pop-up-close.jpg) top right no-repeat;
float:right;
display:inline;
cursor:pointer;
}

#column-right .chalkboard li a.close {
width:15px;
height:15px;
top: 0;
background:url(/images/css/pop-up-close.jpg) top right no-repeat;
float:right;
display:inline;
cursor:pointer;
}

#column-right .chalkboard a {
width:auto;
height:auto;
color:#FFFFFF;
}
#column-right .chalkboard a:hover {
width:auto;
height:auto;
color:#4696bb;
}

#column-right .fanclub li a:hover {
color:#4696bb;
}

#column-right li.odd {
background:url(/images/css/left-row-bg-odd.jpg) repeat-y top right;
}

#column-right .fanclub li.odd:hover {
border-bottom:#333333 thin solid;
/*cursor:pointer;
color:#4696bb;*/
}
#column-right .chalkboard li.odd:hover {
border-bottom:#333333 thin solid;
cursor:auto;
}

#column-right li.even {
background:url(/images/css/left-row-bg-evn.jpg) repeat-y top right;
}

#column-right .fanclub li.even:hover {
border-bottom:#333333 thin solid;
/*cursor:pointer;
color:#4696bb;*/
}


#column-right .chalkboard li.even:hover {
border-bottom:#333333 thin solid;
cursor:auto;
}

#column-right .scroll-up {
width:auto;
height:10px;
background:url(/images/css/right-column-scroll-up.jpg) no-repeat top left;
}

#column-right .scroll-up:hover {
cursor: pointer;
}

#column-right .scroll-down {
width:auto;
height:10px;
background:url(/images/css/right-column-scroll-dwn.jpg) no-repeat top left;
}

#column-right .scroll-down:hover {
cursor: pointer;
}

/* nav low */

#nav-low {
width:auto;
height:30px;
border-top:#CCCCCC thin solid;
border-bottom:#CCCCCC thin solid;

}

#nav-low ul {
color:#CCCCCC;
font-size:.8em;
font-weight:normal;
letter-spacing:.05em;
text-align:center;
background:url(/images/css/nav-low-bg.jpg) repeat-x top left;
}

#nav-low li {
width:81px;
height:30px;
float:left;
/*background:url(/images/css/nav-low-button.jpg) no-repeat top left;*/
border-left:#CCCCCC thin solid;
margin:0 0 0 -.08em;

display:inline;
*margin:0 0 0 -2px;
_margin:0 0 0 -2px;
}

#nav-low li:hover {
width:81px;
height:30px;
float:left;
background:url(/images/css/nav-low-button-ovr.jpg) no-repeat top left;

display:inline;
}

#nav-low a {
width:100%;
display:block;
height:100%;
color:#CCCCCC;
padding:5px 0 0 0;

_height:25px;
}

#nav-low a:hover {
width:100%;
display:block;
height:100%;
color:#FFFFFF;
padding:5px 0 0 0;

_height:25px;
}

/* page footer */

#footer {
display:block;
width:980px;
height:auto;
margin:10px auto 0 auto;
}

#footer ul {
color:#FFFFFF;
font-weight:normal;
font-size:.65em;
}

#footer li {
display:block;
padding:4px;
}

#footer li a {
font-weight:normal;
color:#FFFFFF;
}

#footer li a:hover {
color:#4696bb; 
}

#footer li.social {
float:right;
margin:0 0 0 5px;

display:inline;
}


/* pop up */

#pop-up {
min-width:325px;
max-width: 600px;
min-height:325px;
max-height: 600px;
background:url(/images/css/pop-up-bg.png) top left repeat;
border:#FFFFFF thin solid;
font-size:.9em;
color:#FFFFFF;
position:fixed;
z-index:5000;
top:10%;
left:25%;
}

#pop-up span {
padding: 15px;
}

#pop-up .signup {
width: 260px;
text-align: center;
}

#pop-up .signup h1 {
position: relative;
font-size:.8em;
width: 100%;
text-align: center;
margin-top: 5px;
}

#pop-up .signup a {
font-size: 2.2em;
width: 100%;
text-align: center;
color:#4696bb;
display: block;
text-decoration: underline;
}

#pop-up h1 {
font-size:1.2em;
color:#4696bb;
margin:5px 0 0 0;
padding:0;
}

#pop-up p {
line-height:1.4em;
color:#FFFFFF;
margin:4px 0 0 0;
padding:0;
}

#pop-up form {
width:100%;
}

#pop-up input {
background:#FFFFFF;
width:100%;
height:auto;
margin:6px 0 0 0;
}

#pop-up input.submit {
width:81px;
height:30px;
font-size:.8em;
font-weight:bold;
color:#FFFFFF;
text-align:center;
text-shadow:#000000 0px -1px 0px;
background:url(/images/css/form-submit-blue.jpg) no-repeat bottom right;
border:none;
position:relative;
float:right;
}

#pop-up input.submit:hover {
background:url(/images/css/form-submit-blue-ovr.jpg) no-repeat bottom right;
}

#pop-up label {
width:auto;
height:auto;
margin:0;
padding:0;
}

#pop-up .close {
width:15px;
height:15px;
background:url(/images/css/pop-up-close.jpg) top right no-repeat;
float:right;
display:inline;
cursor:pointer;
}


/* drop-up menu */

.drop-up {
background:url(/images/css/drop-up-bg.jpg) bottom left repeat-x;
border-top:#FFFFFF thin solid;
height:auto;
z-index:40000;
_background:none;
width: 980px;
/* my edits */
position: absolute;
}

.drop-up .content {
padding:15px;

_z-index:4001;
}

.drop-up ul {
float:left;
margin:0 40px 0 0;

_z-index:4002;

}

.drop-up ul h1 {
font-size:.8em;
color:#4696bb;
}

.drop-up ul li h1 {
font-size:1.15em;
color:#4696bb;
}

.drop-up li {
font-size:.7em;
color:#333333;
display: block;
padding: 0 0 3px 0;
}

.drop-up li:hover {
font-size:.7em;
color:#4696bb;
cursor: pointer;
_cursor:pointer;
}

.drop-up li a {
color:#333333;
}

.drop-up li a:hover {
color:#4696bb;
cursor: pointer;
_cursor:pointer;
}

.narrow-drop-up {
background:url(/images/css/drop-up-bg.jpg) bottom left repeat-x;
border-top:#FFFFFF thin solid;
height:auto;
z-index:40000;
_background:none;
/* my edits */
position: absolute;
}

.narrow-drop-up .content {
padding:15px;
_z-index:4001;
}

.narrow-drop-up .content div {
background:url(/images/css/drop-up-bg.jpg) bottom left repeat-x;
height:auto;
_background:none;
position: absolute;
}

.narrow-drop-up ul {
display: block;
float:none;
margin:0 0 0 0;
_z-index:4002;
min-width: 120px;
}

.narrow-drop-up ul h1 {
font-size:.8em;
color:#4696bb;
}

.narrow-drop-up ul li h1 {
font-size:1.15em;
color:#4696bb;
}

.narrow-drop-up li {
font-size:.7em;
color:#333333;
display: block;
padding: 0 0 3px 0;
}

.narrow-drop-up li:hover {
font-size:.7em;
color:#4696bb;
cursor: pointer;
_cursor:pointer;
}

.narrow-drop-up li a {
color:#333333;
}

.narrow-drop-up li a:hover {
color:#4696bb;
cursor: pointer;
_cursor:pointer;
}