
<div id="holder">
    <ul id="draggables_list">
      <%
        leagues = Affiliation.get_all_leagues
        show_playoffs = false
        leagues.each do |league|
            if Affiliation.is_in_post_season(league.affiliation_id)
                show_playoffs = true
                break
            end
        end
        
        if show_playoffs
      %>
        <li class="drop_item" id="playoffs">
          <a href="#" name="draggable-btn-01">Playoffs</a>
        </li>
      <% end %>
      <li class="drop_item" id="player_card"><a name="draggable-btn-01" title="Drag me!">Stats</a></li>
      <li class="drop_item" id="scoreboard"><a name="draggable-btn-01" title="Drag me!">Scores</a></li>
      <li class="drop_item" id="schedule"><a name="draggable-btn-02" title="Drag me!">Schedule</a></li>
      <!--<li class="drop_item" id="lines"><a name="draggable-btn-03" title="Drag me!">Lines</a></li>-->
      <li class="drop_item" id="headlines"><a name="draggable-btn-04" title="Drag me!">Headlines</a></li>
      <li><a name="space-holder"></a></li>
    </ul>
    <div class="clear"></div>
</div>


<%= sortable_element('draggables_list', :tag => 'li', :overlap => 'horizontal', :constraint => false, :scroll => 'window') %>

    
