
  <li class='space_holder'></li>

  <li class='drop_item' id='scoreboard'>
      Stats
  </li>
  
  <li class='drop_item' id='player_card'>
      Player<br/>Card
  </li>

  <li class='drop_item' id='headlines'>
      Headlines
  </li>

  <li class='space_holder'></li>

  <li class='space_holder'></li>

  <li class='space_holder'></li>

  <!--<li class='drop_item' id='challenges'>
      Challenges
  </li>

  <li class='drop_item' id='friends'>
      Fan Club
  </li>-->
  
  <li class='drop_item' id='profile'>
      Profile
  </li>
    
  <li class='space_holder'></li> 
 
  <li class='space_holder'></li>
 
