
<div id="holder">
    <ul id="draggables_list">
      <%
        leagues = Affiliation.get_all_leagues
        show_playoffs = false
        leagues.each do |league|
            if Affiliation.is_in_post_season(league.affiliation_id)
                show_playoffs = true
                break
            end
        end
        
        if show_playoffs
      %>
        <li class="drop_item" id="playoffs">
          <a href="#" name="draggable-btn-01">Playoffs</a>
        </li>
      <% end %>
      <li><a name="space-holder"></a></li>  
      <li class="drop_item" id="scoreboard"><a name="draggable-btn-01">Scores</a></li>
      <li class="drop_item" id="schedule"><a name="draggable-btn-02">Schedule</a></li>
      <!--<li class="drop_item" id="lines"><a name="draggable-btn-03">Lines</a></li>-->
      <li class="drop_item" id="headlines"><a name="draggable-btn-04">Headlines</a></li>
      <li><a name="space-holder"></a></li>
      <li><a name="space-holder"></a></li>
      <li class="drop_item" id="standings"><a name="draggable-btn-05">Standings</a></li>
      <li class="drop_item" id="roster"><a name="draggable-btn-05">Roster</a></li>
      <li class="drop_item" id="leaders"><a name="draggable-btn-05">Leaders</a></li>
      <!--<li class="drop_item" id="stats"><a name="draggable-btn-05">Stats</a></li>-->
      <li><a name="space-holder"></a></li>
    </ul>
    <div class="clear"></div>
</div>


<%= sortable_element('draggables_list', :tag => 'li', :overlap => 'horizontal', :constraint => false, :scroll => 'window') %>

    
