
<%= render :partial => "layouts/ticker" %>
      
	
<div id="hero">
  <a href="/home"><div id="logo"></div></a>
  <!-- Background switchers -->
  <ul>
    <li>
	  <a href="javascript:void(0);" onclick="new Ajax.Request('/user_preferences/change_background', {asynchronous:true, evalScripts:true, parameters:'background=grass'}); return false;" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Grass','','/images/css/btn-bg-grass-ovr.jpg',1)" title="Set background as grass"><img src="/images/css/btn-bg-grass.jpg" alt="Grass Button" name="Grass" width="25" height="25" border="0" id="Grass" /></a>
    </li>
    <li>
	  <a href="javascript:void(0);" onclick="new Ajax.Request('/user_preferences/change_background', {asynchronous:true, evalScripts:true, parameters:'background=clay'}); return false;" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Clay','','/images/css/btn-bg-clay-ovr.jpg',1)" title="Set background as clay"><img src="/images/css/btn-bg-clay.jpg" alt="Clay Button" name="Clay" width="25" height="25" border="0" id="Clay" /></a>
	</li>
    <li>
	  <a href="javascript:void(0);" onclick="new Ajax.Request('/user_preferences/change_background', {asynchronous:true, evalScripts:true, parameters:'background=ice'}); return false;" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Ice','','/images/css/btn-bg-ice-ovr.jpg',1)" title="Set background as ice"><img src="/images/css/btn-bg-ice.jpg" alt="Ice Button" name="Ice" width="25" height="25" border="0" id="Ice" /></a>
	</li>
    <li>
	  <a href="javascript:void(0);" onclick="new Ajax.Request('/user_preferences/change_background', {asynchronous:true, evalScripts:true, parameters:'background=wood'}); return false;" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Wood','','/images/css/btn-bg-wood-ovr.jpg',1)" title="Set background as wood"><img src="/images/css/btn-bg-wood.jpg" alt="Wood Button" name="Wood" width="25" height="25" border="0" id="Wood" /></a>
	</li>
    <li>
	  <a href="javascript:void(0);" onclick="new Ajax.Request('/user_preferences/change_background', {asynchronous:true, evalScripts:true, parameters:'background=asphalt'}); return false;" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Asphalt','','/images/css/btn-bg-asphalt-ovr.jpg',1)" title="Set background as asphalt"><img src="/images/css/btn-bg-asphalt.jpg" alt="Asphalt Button" name="Asphalt" width="25" height="25" border="0" id="Asphalt" /></a>
	</li>
    <div class="clear"></div>
  </ul>
</div>

<!-- Leaderboard Ad -->
<div id="ad-leaderboard">
  <span class="center"><script  src="http://tag.contextweb.com/TagPublish/getjs.aspx?action=VIEWAD&cwrun=200&cwadformat=728X90&cwpid=530391&cwwidth=728&cwheight=90&cwpnet=1&cwtagid=90552"></script></span>
</div>
<div class="clear"></div>    