
<div id="ad-right"><img src="/images/css/advertisement-rightcolumn.jpg" alt="Advertiser" name="ad-right"/></div>
      
<!-- Fanclub -->
<div id="fanclub" class="fanclub">
  <%= render :partial => "/users/partials/fanclub" %>  
</div> <!-- close fanclub -->

<%= draggable_element ("fanclub", {:revert => true, :ghosting => true}) %>


<!-- Chalkboard -->
<div id="chalkboard" class="chalkboard">
  <%= render :partial => "/users/partials/chalkboard" %> 
</div> <!-- close chalkboard -->

<%= draggable_element ("chalkboard", {:revert => true, :ghosting => true}) %>

<div class="clear"></div>
